/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&family=Ubuntu&display=swap');

/*MAIN SELECTORS*/
body {
  margin: 0;
  padding: 0;
  min-width: 800px !important;
  color: #545454;
}

h1 {
  font-size: 5rem;
  color: #1e836c;
  font-family: Ubuntu, sans-serif;
}

h3 {
  font-size: 1.2rem;
  color: #5fc6cf;
  font-family: Ubuntu, sans-serif;
}

h2 {
  font-size: 3rem;
  font-family: Ubuntu,sans-serif;
  color: #1e836c;
}

p {
  font-family: Ubuntu, sans-serif;
  font-size: 1.2rem;
}

.container {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

.transition {
  transition: all .5s ease-in-out
}

::selection {
  background-color: #1e836c;
  color: #5fc6cf;
}

/* BREAKER */
.breaker {
  border-top-style: dotted;
  border-width: 0.5rem;
  color: grey;
  height: 1rem;
  margin:8% auto 8% auto;
  width: 5rem;
}

.active-nav {
  pointer-events: none;
  color:#1e836c;
  font-size: 3rem;
}
/**************************ID / MAIN SECTIONS*************************/
#top {
  background-color: #f9efc4;
  width: 100%;
  height: 58.3rem;
}

#home-top {
  width: 60%;
  height: 15vh;
  padding-left: 20%;
  padding-right: 20%;
}

#about-me {
  background-color: white;
  height: 25rem;
  padding-top: 10rem;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 812px) {
  #about-me {
    height: 29rem;
    padding-top: 3rem;
  }
}
#what-i-do {
  background-color: white;
  height: 36rem;
  padding: 0;
  text-align: center;
  width: 100%
}

@media screen and (max-width: 812px) {
  #what-i-do {
    height: 45rem;
  }
  }

#i-can-help {
  background-color: white;
  height: 25rem;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 812px) {
  #i-can-help {
    margin-top: 5rem;
    height: 30rem;
  }
}

#bottom-footer {
  background-color: #f9efc4;
  height: 10rem;
  width: 100%;
}
/************************class********************/
/*  TOP SECTION - HEADER + LOGO+++++++++++++++ */
.top-logo {
  width: auto;
  height: 8rem;
}

.nav-list {
  list-style-type: none;
  display: block;
  position: relative;
  bottom: 5.5rem;
}
@media screen and (max-width: 812px) {
.nav-list {
    left: 6rem;
}
}

.nav-list li {
  color: #5fc6cf;
  font-size: 1.4rem;
  font-family: Ubuntu, sans-serif;
  float: right;
  margin-right: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 812px) {
.nav-list li {
    font-size: 2rem;
}
}

.nav-list li:hover {
  cursor: pointer;
  color: #1e836c;
}

.introduce h1 {
  text-align: center;
  font-family: 'Parisienne', cursive;
}

.introduce h3 {
  text-align: center;
  font-weight: bold;
  margin-top: -3.5rem;
}

.home-image-div {
  width: 100%;
  text-align: center;
}

.home-image {
  width: 41rem;
  height auto;
}

/* ABOUT ME SECTION */
.hi {
  padding: 7rem 0 0 0;
  width: 10rem;
}

.about-text {
  padding: 0 20% 0 20%;
}

/* WHAT I DO SECTION */
.design {
  padding: 0 10% 0 10%;
  margin-top: 5rem;
  text-align: left;
  border: 0.4rem solid transparent;
}
.design:hover {
  border: 0.4rem inset #5fc6cf;
  transition: 2s;
}

.design-icon {
  width: 8rem;
  float: left;
  padding-top: 0.5rem;
  margin-right: 1rem;
}

.design h3 {
  padding-left: 20%;
  font-size: 1.6rem;
}

.design p {
  padding-left: 20%;
}
@media screen and (max-width: 812px) {
  .design p {
    padding-left: 40%;
  }
}

.develop {
  padding: 0 10% 0 10%;
  margin-top: 3rem;
  text-align: left;
  border: 0.4rem solid transparent;
}

.develop:hover {
border: 0.4rem inset #5fc6cf;
transition: 2s;
}

.develop-icon2 {
  width: 8rem;
  float: right;
  padding-top: 0.5rem;
  margin-left: 1rem;
}

.develop h3 {
  padding-right: 20%;
  font-size: 1.6rem;
}

.develop p {
  padding-right: 20%;
}
@media screen and (max-width: 812px) {
  .develop p {
    padding-right: 40%;
  }
}
/* I CAN HELP SECTION + CONTACT BUTTON */

.contact-me p {
  padding: 0 17% 0 17%;
}

.contact-me button {
  background-color: #5fc6cf;
  color: #1e836c;
  border-style: none;
  border-radius: 0.4rem;
  margin-top:3rem;
  width: 13rem;
}
.contact-me button:hover {
  background-color: #49ab95;
  color: #1e836c;
  cursor: pointer;
  transition: 2s;
}

.contact-me img {
  float:left;
  width: 1.4rem;
  height: auto;
  padding: 1.1rem 0 0 1rem;

}
.contact-me button p {
  padding: 0;
}

/* FOOTER  */

.footer {
  padding: 2% 20% 0 20%;
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
}
.footer li {
  display: inline;
  margin: 0 1.1rem 0 1.8rem;
}
.footer li:hover {
  cursor:pointer;
  color: #1e836c;
  transition: 2s;
}

.footer p {
  font-size: 0.8rem;
  padding-top: 2.5rem;
}
